* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    font-size: 5vw;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 5vw;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.d {
    font-size: 1rem;
}

#link {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

#hosted {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 0.8rem;
}

#hosted img {
    height: 1.4rem;
    width: auto;
    transform: translateY(0.4rem);
}