body {
    background-color: cadetblue;
    font-size: 5vw;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 5vw;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.d {
    font-size: 1rem;
}