* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    font-size: 5vw;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 5vw;
    font-size: 16px;
    font-weight: bold;
    color: white;
    gap: 3rem
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

a span {
    display: block;
}

a img {
    height: 1rem;
    width: auto;
    margin-left: 0.6rem;
    transform: translateY(0.2rem);
}

.link-pages {
    font-size: 1.5rem;
}

.link-description {
    font-size: 1.2rem;
}

main {
    height: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

#description {
    border-top: 1px solid #fff9;
    padding-top: 1rem;
}

#hosted {
    align-self: flex-end;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 0.8rem;
}

#hosted img {
    height: 1.4rem;
    width: auto;
    transform: translateY(0.4rem);
}

@media only screen and (max-width: 700px) {

    body {
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-start;
    }

}

@media only screen and (min-width: 700px) {

    body {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

}